/* cards section */
.all-cards {
  padding: 5px 25px;
}

.card {
  background: #FFFFFF;
  box-shadow: 3px 6px 15px rgb(121, 121, 121);
  margin: 50px 0px;
  padding: 25px;
}

.card-title {
  color: #14ABFD;
  font-size: 38px;
  margin-bottom: 20px;
}

.card-text {
  color: #323153;
  font-size: 24px;
}

.selected-card {
  padding: 5px 25px;
}