/** header */
.header {
  background-color: #9c32ff;
  height: 372px;
  margin-left: 325px;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
}

.header > img {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.header > p {
  color: white;
  font-size: 150px;
  left: 50%;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}