/* profile section */
.profile-section {
  color: white;
  cursor: pointer;
  padding: 25px;
  overflow: hidden;
}

.img-profile {
  border: 4px solid #323153;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.profile-mobile {
  display: none;
}