
.login {
    overflow: auto;
    height: 100%;
    background-image: url("../images/login/fundo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.home {
    overflow: auto;
    height: 100%;
}

.login .superlogin {
    width: 300px;
    margin: auto auto;
    display: flex;
    flex-direction: column;
}

.login .clear {
    clear: both;
    height: 20%;
}


@media screen and (max-height: 580px) {
    .login .logo {
        visibility: hidden
    }

    .login .clear {

        height: 5%;
    }
}

.login .logo {
    position: absolute;
    float: right;
    height: 40px;
    right: 5px;
    top: 5px;
}


.login .cabecalho-login {
    margin-bottom: 15%;
    text-align: center;
}

.login .caixa-login {
    background: #E4E4E4;
    /*
    border: 1px solid red;
     */
}

.login .area-login {
    width: 80%;
    margin: 10px auto;
}

.login .area-text-login {

    height: 33px;
    border-radius: 7px;
    border: none;
    box-sizing: border-box;
    padding-left: 25px;
    width: 100%;
    font-size: 10pt;
}

.login select:invalid {
    color: #757575;
}


.login .form-icon {
    position: absolute;
    width: 11px;
    height: 11px;
    margin-left: 8px;
    margin-top: 10px;
}


.login #logo-ioasys {
    margin: 10px 10px;
}

.login .possibilidades-login {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background: none;
}

.login .possibilidades-login a {
    text-decoration: none;
    color: #fff;
    font-size: 0.8em;
}

.login .retorno {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    background: none;
}

.login .retorno a {
    text-decoration: none;
    color: #fff;
    font-size: 0.8em;
}

.login .imagens-login {
    width: 15%;
    margin: 0 4%;
}

.login .imagens-login-cacadores {
    width: 11%;
    margin: 0 4%;
}

.login #botao-login {
    background: black;
    color: #fff;
    width: 80%;
    margin: 8% 9%;
    padding: 10px;
    align-items: center;
    border: black;
    font-weight: bold;
    border-radius: 5px;
}
